.aboutme-container {
  margin: 20px auto;
  max-width: 1200px;
  background-color: #f9fafb;
  color: #2d3748;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.aboutme-header {
  text-align: center;
  margin-bottom: 20px;
}

.aboutme-header h1 {
  font-size: 56px;
  color: #0e22d1;
  margin-bottom: 10px;
}

.aboutme-header p {
  font-size: 18px;
  color: #4a5568;
}

.contact-info {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.8;
}

.contact-info a {
  color: #0e22d1;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 28px;
  color: #0e22d1;
  margin-top: 15px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #2d3748;
}

.section {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section p {
  font-size: 16px;
  color: #4a5568;
  line-height: 1.8;
}

.section strong {
  font-weight: bold;
  color: #2d3748;
}


@media (max-width: 768px) {
  .aboutme-container {
    padding: 10px;
    margin: 10px;
  }

  .aboutme-header h1 {
    font-size: 28px;
  }

  .aboutme-header p {
    font-size: 16px;
  }

  .contact-info {
    font-size: 14px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 20px;
  }
}
